@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Lato:wght@300;400;700&display=swap");

@import "tailwindcss";

:root {
  font-family: "Lato", Inter, system-ui, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color: #2c2c2c;
  background-color: #faf9f6;

  /* scrollbar-gutter: stable; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}
